<%= turbo_frame_tag "about_style" do %>
    <%= link_to "about", styles_path %>
    <p>
        Beer styles differentiate and categorize beers by color, flavour, strength, ingredients, production method, recipe, history or origin.

    </p>
  <% end %>