<p style="color: green"><%= notice %></p>

<% content_for :title, "Beers" %>

<h1>Beers</h1>

  <p><b>Number of beers: <%= @beer_tot %></b></p>
  <div id="beers">
    <%= render "beer_list", beers: @beers, page: @page, order: @order, last_page: @last_page  %>
  </div>

<%= link_to "New beer", new_beer_path, class:'btn btn-primary' if current_user %> 
