<% content_for :title, "Editing beerclub" %>

<h1>Editing beerclub</h1>

<%= render "form", beerclub: @beerclub %>

<br>

<div>
  <%= link_to "Show this beerclub", @beerclub %> |
  <%= link_to "Back to beerclubs", beerclubs_path %>
</div>
